<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">

      <!-- LOGO LEFT SIDE -->
      <a href="{{ '/' | relative_url }}" class="site-logo">
        <img src="{{ '/assets/images/Tacit_Logo.png' | relative_url }}" 
             alt="Tacit Technology Logo"
             style="height: 45px; width: auto;">
      </a>

      <!-- NAVIGATION -->
      <nav id="site-nav" class="greedy-nav">
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>

    </div>
  </div>
</div>
